<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>Hello Vue.js</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <div id="app">
    <p>
      {{ message }}
    </p>
    <button v-on:click="doClick">Click!</button>
    <p id="if-true" v-if="togglet"><a v-bind:href="url">https://jp.vuejs.org/</a></p>
    <p id="if-false" v-if="togglef"><a v-bind:href="url">https://jp.vuejs.org/</a></p>
    <p id="show-true" v-show="togglet"><a v-bind:href="url">https://jp.vuejs.org/</a></p>
    <p id="show-false" v-show="togglef"><a v-bind:href="url">https://jp.vuejs.org/</a></p>
    <ul>
      <li v-for="lang in languages">{{ lang }}</li>
    </ul>
    <input type="text" v-model="message"></input>
  </div> <!-- id="app" -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
